/* Cards styles */
.card {
    cursor: default;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in;
}

.card:hover {
    -webkit-box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.43);
    -moz-box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.4);
}

.card .card-header {
    position: relative;
    min-height: 180px;
    background-color: rgb(1, 75, 66);
}

.card .card-header-caption {
    background-color: rgba(0, 63, 52, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: box-shadow 0.3s ease;
}

.card .card-header-caption:hover {
    border-top: 3px solid rgb(0, 133, 111);
    background-color: rgba(0, 63, 52, 0.9); 
    -webkit-box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.4);
}

.card .card-header-link {
    display: block;
    padding: 15px 20px 10px;
    text-decoration: none;
}

.card .card-section {
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 5px 11px;
    color: rgb(231, 231, 231);
    font-weight: 600;
    font-size: 0.8em;
    line-height: 0em;
    background-color: rgba(0, 63, 52,0.8);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
}

.card .card-title {
    margin: 0 0 7px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.4em;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card-date {
    display: inline-block;
    padding: 0px 10px;
    color: rgb(230, 230, 230);
    font-weight: 600;
    font-size: 0.8em;
    line-height: 0em;
}

.card .card-content {
    padding: 20px;
}

.card .card-photo-caption {
    display: block;
    margin: 0 0 20px; 
    color: rgb(50, 50,50);
    font-weight: 400;
    font-size: 0.7em;
    line-height: 1.2em;
}

.card .card-subtitle {
    margin: 0 0 10px;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.2em;
}

.card .card-text {
    margin: 0 0 18px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
}

.card .card-link-more {
    padding: 3px 10px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1em;
    color:rgb(0, 148, 123);
    border: 1px solid rgb(0, 148, 123);
    border-radius: 12px;
    transition: all 0.2s ease-in;
}

.card .card-link-more:hover {
    background-color: rgb(204, 236, 231);
    -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.card .card-tags {
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-top: 1px solid  rgb(174, 223, 215);
}

.card .card-tags-items {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: start;
}

.card .card-tags-title {
    margin: 3px 5px 0 0;
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(0, 148, 123);
}

.card .card-tags-item {
    margin: 3px;
    padding: 12px 10px 12px 7px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 0;
    text-decoration: none;
    color: rgb(0, 97, 82);
    background-color: rgb(218, 236, 233);
    border-radius: 12px 6px 12px 6px;
    transition: all 0.2s ease-in;
}

.card .card-tags-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 180, 150);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
