/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Layout styles */
html {
  background-color: rgb(236, 239, 241);
}

/* Font global */
body {
  font: 400 16px/22px 'Open Sans', Arial, Helvetica, sans-serif;
}

/* Header styles */
.header {
  width: 100%;
  display: block;
  padding: 20px 0 0;
  background-color: rgb(0, 63, 52);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-bottom: 3px solid rgb(0, 133, 111);
}

.header .header-wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.header .logo-lg {
  display: block;
  width: 168px;
  height: 28px;
  margin: 0 auto 15px;
  padding: 0;
  background: url('../images/logo_lg.png') top left no-repeat;
}

/* Main menu */
.header .main-menu {
  display: block;
  border-top: 1px solid rgb(0, 90, 75);
  background-color: rgb(223, 245, 241);
}

.header .menu-content {
  display: block;
  margin: 0;
  padding: 0;
}

.header .main-menu .menu-item {
  display: block;
  list-style: none;
}

.header .main-menu .menu-item-link {
  display: block;
  padding: 10px 20px 10px 20px;
  text-align: center;
  color: rgb(0, 63, 52);
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;  
  border-bottom: 1px solid rgb(0, 131, 109);
  transition: background-color 0.3s ease;
}

.header .main-menu .menu-item-link.active,
.header .main-menu .menu-item-link:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(1, 75, 66);
}

/* Header Media Queries */
@media (max-width:300px) {
  .header {
    width: 300px;
  }
}

@media (min-width:820px) {
  .header {
    height: 60px;
    padding: 0;
  }

  .header .header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 63, 52);
  }

  .header .logo-lg {
    margin: 5px 0 0 20px;
  }

  /* Main menu */
  .header .main-menu {
    border: none;
    background-color: rgb(0, 63, 52);
  }

  .header .menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .header .main-menu .menu-item-link {
    padding: 18px 20px 17px 20px;
    color: rgba(255,255,255,1);
    border: none;
    box-sizing: content-box;
  }

  .header .main-menu .menu-item-link.active,
  .header .main-menu .menu-item-link:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid rgb(2, 189, 158);
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(0, 105, 92);
  }
} 

/* Content styles */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0px;
} 

.content {
  padding: 10px 0 0;
}

.content .content-wrap {
  display: grid;
  grid-template-columns: 100%;
}

.content-header {
  margin: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.content-section {
  padding: 13px 20px 13px 18px;
  color: rgb(2, 144, 128);
  font-size: 1.4em;
  font-weight: 700;
}

/* Content Media Queries */
@media (max-width:300px) {
  .container  {
    width: 300px;
  }
}

@media (min-width:550px) {
  .content .content-wrap {
    grid-template-columns: 50% 50%;
  }

  .content .content-wrap.page {
    grid-template-columns: 100%;
  }
}

@media (min-width:820px) {
  .container {
    grid-template-columns: 70% 30%;
  } 

  .content {
    padding: 10px 0 20px;
  }

  .content .content-wrap {
    grid-template-columns: 50% 50%;
  }

  .content .content-wrap.page {
    grid-template-columns: 100%;
  }
}

/* Cards and Article styles */
.article,
.card {
  cursor: default;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  transition: all 0.2s ease-in;
}

.article:hover,
.card:hover {
  -webkit-box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.43);
  -moz-box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 12px 1px rgba(0,0,0,0.4);
}

.article .article-header,
.card .card-header {
  position: relative;
  min-height: 180px;
  overflow: hidden;
  background-color: rgb(1, 75, 66);
}
.card .card-header-box {
  padding: 15px 20px 10px;
  background-color: rgba(0, 63, 52, 0.8);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s ease;
}

.article .article-header-box {
  padding: 30px 40px 18px;
  background-color: rgba(0, 63, 52, 0.9);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s ease;
}

.card .card-header-box:hover {
  background-color: rgba(0, 63, 52, 0.9); 
  -webkit-box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.4);
}

.card .card-header-box:hover h2 {
  text-decoration: underline;
}

.article .article-section,
.card .card-section {
  display: inline-block;
  margin: 0 0 10px;
  padding: 10px 5px 11px;
  color: rgb(231, 231, 231);  
  font-weight: 600;
  font-size: 0.8em;
  line-height: 0em;
  background-color: rgba(0, 63, 52,0.8);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 3px;
}

.card .card-title {
  margin: 0 0 7px; 
  color: rgb(255, 255, 255); 
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.4em;
  text-decoration: none;
}

.article .article-title {
  margin: 0 0 20px; 
  color: rgb(255, 255, 255); 
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1.6em;
}

.article .article-date,
.card .card-date {
  display: inline-block;
  padding: 0px 10px;
  color: rgb(230, 230, 230);
  font-weight: 600;
  font-size: 0.8em;
  line-height: 0em;
}

.article-author {
  display: block;
  margin: 0 0 20px; 
  color: rgb(230, 230, 230);
  font-weight: 600;
  font-size: 0.9em;
  line-height: 0em;
}

.card .card-content {
  padding: 20px;
}

.article .article-content {
  padding: 40px 40px 20px;
}

.card .card-subtitle {
  margin: 0 0 10px;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.2em;
}

.article .article-subtitle {
  margin: 0 0 20px;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.8em;
}

.card .card-text {
  margin: 0 0 18px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
}

.article p {
  margin: 0 0 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
}

.article p strong,
.article p em,
.article p a {
  color: rgb(0, 63, 52);
}

.card .card-link-more {
  padding: 3px 10px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1em;
  color:rgb(0, 148, 123);
  border: 1px solid rgb(0, 148, 123);
  border-radius: 12px;
  transition: all 0.2s ease-in;
}

.card .card-link-more:hover {
  background-color: rgb(204, 236, 231);
  -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.article .article-tags,
.card .card-tags {
  padding: 15px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-top: 1px solid  rgb(174, 223, 215); 
}

.article .article-tags-items,
.card .card-tags-items {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: start;
}

.article .article-tags-title,
.card .card-tags-title {
  margin: 3px 5px 0 0;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(0, 148, 123);
}

.article .article-tags-item,
.card .card-tags-item {
  margin: 3px;
  padding: 12px 10px 12px 7px;
  display: inline-block;
  font-size: 0.8em;
  line-height: 0;
  text-decoration: none;
  color: rgb(0, 97, 82);
  background-color: rgb(218, 236, 233);
  border-radius: 12px 6px 12px 6px;
  transition: all 0.2s ease-in;
}

.article .article-tags-item:hover,
.card .card-tags-item:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 180, 150);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

/* Breadcrumbs styles */
.breadcrumbs {  
  padding: 0 0 20px;
}
.breadcrumbs-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.breadcrumbs-content .breadcrumb-item {
  display: block;
  margin: 0;
  padding: 0;
}

.breadcrumbs-content .breadcrumb-item-link {
  display: inline-block;
  margin: 0 5px;
  font-size: 0.9em;
  font-weight: 400; 
  color: rgb(0, 112, 94);
  text-decoration: none;
  padding: 0;
}

.breadcrumbs-content .breadcrumb-item-link:hover {
  color: rgb(0, 160, 133);
  text-decoration: underline;
}

.breadcrumbs-content .breadcrumb-item-link.current {
  color: rgb(172, 172, 172);
  text-decoration: none;
  cursor: default;
}

.breadcrumbs .breadcrumb-item::before {
  display: inline-block;
  content: "/" ;
  font-size: 1em;  
  color: rgb(0, 207, 173);
  padding: 0;
}

/* Pagination styles */
.pagination {
  margin: 20px 15px 15px;
  transition: all .5s;
}

.pagination .page-numbers {
  display: block;
  text-align: center;
}

.pagination .page-numbers li {
  display: inline-block;
  margin: 6px 3px;
}

.pagination .page-numbers .page-item {
  text-decoration: none;
  padding: 6px 10px;
  color: rgb(0, 82, 69);
  background-color: rgb(201, 228, 224);
  border-radius: 3px;
}

.pagination .page-numbers .page-item:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 180, 150);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.pagination .page-numbers .page-item.dots,
.pagination .page-numbers .page-item.current {
  cursor: default;
  color: rgb(156, 155, 155);
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pagination .page-numbers .page-item.prev,
.pagination .page-numbers .page-item.next {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pagination .page-numbers .page-item.prev:hover,
.pagination .page-numbers .page-item.next:hover {
  color: rgb(0, 82, 69);
  text-decoration: underline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Footer Media Queries */
@media (max-width:510px) {
  .pagination .page-numbers li {
    display: block;
    margin-bottom: 5px;
  }
  .pagination .page-numbers .page-item {
    display: block;
    max-width: 100px;
    margin: auto;
  }
}

/* Saidebar styles */
.sidebar {
  padding: 10px 10px 10px 10px;
}

/* Saidebar Media queries */
@media (min-width:820px) {
  .sidebar {
    padding: 20px 10px 30px 10px;
  }
}

.sidebar .sidebar-box {
  margin-bottom: 23px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in;
}

.sidebar .sidebar-box:hover {
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

.sidebar .sidebar-box.search {
  border-bottom: 2px solid rgb(0, 165, 137);
}

.sidebar .sidebar-title {
  padding: 10px 10px 10px 15px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(0, 63, 52);
  background-color: rgb(218, 236, 233);
}

/* Sidebar Menu styles */
.sidebar .second-menu {
  display: block;
  padding: 20px;
}

.sidebar .second-menu .menu-item {
  margin: 0 0 8px 20px;
  list-style: square;
  font-size: 1.05em;
  color: rgb(0, 165, 137);
}

.sidebar .second-menu .menu-item a {
  font-size: 1em;
  line-height: 1.4em;
  text-decoration: none;
  color: rgb(0, 63, 52);
}

.sidebar .second-menu .menu-item a:hover {
  text-decoration: underline;
}

/* Search styles */
.search form {
  height: 44px;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.search .search-input {
  width: 100%;
  padding: 10px 10px 10px 15px;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.search .search-submit {
  width: 44px;
  height: 42px;
  outline: none;
  border: none;
  background: url('../images/icon_search.png') top left no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

/* Footer styles */
.footer {
  display: block;
  border-top: 1px solid rgb(0, 133, 111);
  padding: 20px 20px 30px;
}

.footer .logo-sm {
  display: block;
  width: 120px;
  height: 20px;
  margin: 0 auto 10px;
  background: url('../images/logo_sm.png') top left no-repeat;
}

.footer .copyright {
  display: block;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400; 
  color: rgb(65, 65, 65);
} 

/* Footer Menu */
.footer-menu {
  display: block;
  margin-bottom: 10px;
}

.footer-menu .menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-menu .menu-content .menu-item {
  display: block;
  margin: 0;
  padding: 0;
}

.footer-menu .menu-content .menu-item-link {
  display: inline-block;
  margin: 0 5px;
  font-size: 0.9em;
  font-weight: 400; 
  color: rgb(0, 112, 94);
  text-decoration: none;
  padding: 0;
}

.footer-menu .menu-content .menu-item-link.active,
.footer-menu .menu-content .menu-item-link:hover {
  color: rgb(0, 160, 133);
  text-decoration: underline;
}

.footer-menu .menu-content::after,
.footer-menu .menu-content .menu-item::before {
  display: inline-block;
  content: "|" ;
  font-size: 0.8em;  
  color: rgb(0, 180, 150);
  padding: 0;
}

/* Footer Media Queries */
@media (max-width:300px) {
  .footer {
    width: 300px;
  }
}

@media (max-width:500px) {
  .footer-menu {
    display: none;
  }
}

@media (min-width:1100px) {
  .footer .footer-wrap {
    max-width: 1100px;
    margin: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer .logo-sm {
    order: 1;
    margin: 5px 0 0 20px;
  }

  .footer .copyright {
    text-align: left;
    order: 2;  
  } 

  .footer-menu {
    order: 3;
    margin-bottom: 0;
  }
}